/* Heading 1 Style */
h1 {
    font-family: Cambria;
    text-align: center;
    background-color: rgb(174, 187, 228);
    padding: 10px;
}
/* Heading 2 Style */
h2 {
    font-family: Cambria;
    background-color: rgb(217, 225, 250);
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 5px;
}
/* Heading 3 Style */
h3 {
    font-family: Cambria;
    text-align: justify;
}
/* Heading 4 Style */
h4 {
    font-family: Cambria;
    text-align: center;
}
.critique {
    display: flex;
    flex-direction: row;
}
.critique > div {
    margin: 5px;
    padding: 5px;
}
.image {
    flex: 1;
    min-width: 300px;
}
.text {
    flex: 1;
    min-width: 200px;
}
.critique img {
    width: 100%;
    height: auto;
}
header {
    text-align: center;
    padding: 3px;
    background-color: rgb(174, 187, 228);
}
footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(174, 187, 228);
}
ul {
    font-size: 17px;
    text-align: justify;
}
u {
    color: rgb(106, 0, 188);
}
li {
    font-family: Cambria;
}
/* Style content of collapsible button */
.collapsible {
    background-color: rgb(217, 225, 250);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 24px;
    font-family: Cambria;
    font-weight: bold;
}
/* Style bg color of button when hovering over */ 
.active, .collapsible:hover {
    background-color: rgb(204, 212, 235);
}
/* Style content within collapsible window */  
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}